.step {
    @include box-sizing(border-box);
    position: relative;
    width: $slide__width;
    height: $slide__height;
    margin: 20px auto;

    .impress-enabled & {
        margin: 0;
        padding: 20px;
    }
    //background: rgba(#000, 0.1); //FPO - remove later
}

.step__container {
    @include clearfix();
    margin: 0 auto;
}

@import "_step--2.scss";
@import "_step--3.scss";
@import "_step--4.scss";
@import "_step--5.scss";
@import "_step--6.scss";
@import "_step--7.scss";
@import "_step--8.scss";
@import "_step--9.scss";
@import "_step--10.scss";

@import "_step--12.scss";
