.step--4 {
    height: 850px;
    
  .step__header {
    margin-bottom: 20px;
  }
  .step__main {
    text-align: justify;

    &:after{
      content: '';
      display: inline-block;
      width: 100%;
    }
    .section {
        @include transition-duration(400ms);
        @include transition-property(all);
        display: inline-block;
        width: 32%;
        margin-bottom: 20px;
        opacity: 0;

      .impress-on-true-publisher &,
      .impress-on-overview & {
        opacity: 1;
      }
    }
    @for $i from 1 through 6 {
      .section--#{$i} {
        $delay: 300 + (200 * $i) + 'ms';
        @include transition-delay(unquote($delay));
      }
    }
  }
}
