.step--3 {
    .step__container {
        width: 950px;
    }
    .step__header {
        margin-bottom: 31px;
    }
    .section-1 {
    }
    .section-2 {
      padding-left: 30px;
    }
    .section-3 {
      margin: 15px 0;
    }
}