.step {
    @include clearfix();
    @include box-sizing(border-box);
    position: relative;
    width: $slide__width;
    height: $slide__height;
    margin: 20px auto;

    .impress-enabled & {
        margin: 0;
    }
    //background: rgba(#000, 0.1); //FPO - remove later
}

.step__container {
    margin: 0 auto;
}

@import "_step--2.scss";
@import "_step--3.scss";
