<div id="big-numbers" class="step step--2" data-x="-1893" data-y="-1570">
  <div class="step__container">
    <header class="step__header">
      <img src="assets/slide1_07.png" alt="">
    </header>
    <div class="step__main">
      <div class="section--1 width-75p">
        <div class="little-dudes little-dudes--top"><img src="assets/slide1_08.png" alt=""></div>
        <div class="hero"><img src="assets/slide1_02.png" alt=""></div>
        <div class="little-dudes little-dudes--bottom"><img src="assets/slide1_08.png" alt=""></div>
        <canvas id="rocket-animation" width="1270" height="155"></canvas>
      </div>
      <div class="section--2 width-25p">
        <div class="tout"><img src="assets/slide1_03.png" alt=""></div>
      </div>
    </div>
  </div>
</div>
