<div id="double-down" class="step step--3" data-x="-1273" data-y="-469" data-rotate="-90">
    <div class="step__container">
      <header class="step__header">
        <img src="assets/slide2_01.png" alt="">
      </header>
      <div class="step__main">
        <div class="section--1 width-60p">
          <div class="hero"><img src="assets/slide2_02.png" alt=""></div>
        </div>
        <div class="section--2 width-40p">
          <div class="tout"><img src="assets/slide2_04.png" alt=""></div>
        </div>
      </div>
      <div class="step__footer width-75p">
          <div class="section--3"><img src="assets/slide2_03.png" alt=""></div>
          <canvas id="content-animation" width="820" height="100"></canvas>
      </div>
    </div>
</div>
