<div id="true-publisher" class="step step--4" data-x="-172" data-y="38">
    <div class="step__container">
      <header class="step__header">
        <img src="assets/slide3_01.png" alt="">
      </header>
      <div class="step__main">
        <div class="section section--1"><img src="assets/slide3_02_01.jpg" alt=""></div>
        <div class="section section--2"><img src="assets/slide3_02_02.jpg" alt=""></div>
        <div class="section section--3"><img src="assets/slide3_02_03.jpg" alt=""></div>
        <div class="section section--4"><img src="assets/slide3_02_04.jpg" alt=""></div>
        <div class="section section--5"><img src="assets/slide3_02_05.jpg" alt=""></div>
        <div class="section section--6"><img src="assets/slide3_02_06.jpg" alt=""></div>
      </div>
      <div class="step__footer">
          <div class="section-3"><img src="assets/slide3_03.png" alt=""></div>
      </div>
    </div>
</div>
