<div id="the-biggest-news" class="step step--5" data-x="534" data-y="-1063" data-rotate="90">
    <div class="step__container">
      <header class="step__header">
        <img src="assets/slide4_04.png" alt="">
      </header>
      <div class="step__main">
        <div class="section section--1"><img src="assets/Redesign.png" alt=""></div>
      </div>
      <div class="step__footer">
          <div class="section-3"><img src="assets/slide4_03.png" alt=""></div>
      </div>
    </div>
</div>
