<div id="tools-and-tech" class="step step--6" data-x="1074" data-y="-2164">
    <div class="step__container">
      <header class="step__header">
        <img src="assets/slide5_03.png" alt="">
      </header>
      <div class="step__main">
        <div class="section section--1 width-40p">
            <div class="bulb__top">
                <div class="bulb__light bulb__light--1">
                    <img src="assets/slide5_01_01.jpg" alt="">
                </div>
                <div class="bulb__light bulb__light--2">
                    <img src="assets/slide5_01_02.jpg" alt="">
                </div>
            </div>
            <div class="bulb__bottom"><img src="assets/slide5_02.png" alt=""></div>
        </div>
        <div class="section section--2 width-60p">
            <img src="assets/slide5_04.jpg" alt="">
        </div>
      </div>
    </div>
</div>
