<div id="new-marketing-programs" class="step step--7" data-x="2142" data-y="-1063" data-rotate="90">
    <div class="step__container">
      <header class="step__header">
        <img src="assets/slide6_01.png" alt="">
      </header>
      <div class="step__main">
        <div class="section section--1 width-30p">
            <img src="assets/slide6_02.jpg" alt="">
        </div>
        <div class="section section--2 width-70p">
            <img src="assets/slide6_03.jpg" alt="">
            <canvas id="tools-animation" width="1050" height="220"></canvas>
        </div>
      </div>
    </div>
</div>
