<div id="great-new-additions" class="step step--8" data-x="2037" data-y="38">
    <div class="step__container">
      <header class="step__header">
        <img src="assets/Slide7_01.png" alt="">
      </header>
      <div class="step__main">
        <div class="section--main width-70p">
            <div class="section section--1">
                <img src="assets/Slide8_vps_vogel.png" alt="">
            </div>
            <div class="section section--2">
                <img src="assets/Slide8_vps_kim.png" alt="">
            </div>
            <div class="section section--3">
                <img src="assets/Slide8_vps_squezello.png" alt="">
            </div>
            <div class="section section--4">
                <img src="assets/Slide8_vps_colbert.png" alt="">
            </div>
            <div class="section section--5">
                <img src="assets/Slide8_vps_ellerson.png" alt="">
            </div>
            <div class="section section--6">
                <img src="assets/Slide8_vps_han.png" alt="">
            </div>
            <div class="section section--7">
                <img src="assets/Slide8_vps_ahmad.png" alt="">
            </div>
            <div class="section section--8">
                <img src="assets/Slide8_vps_knell.png" alt="">
            </div>
        </div>
        <div class="section--aside width-30p">
            <canvas id="additions-animation" width="430" height="995"></canvas>
        </div>
      </div>
    </div>

</div>
