<div id="new-digs" class="step step--9" data-x="1231" data-y="989" data-rotate="-90">
    <div class="step__container">
      <header class="step__header">
      </header>
      <div class="step__main">
        <div class="hero"><img class="js-step-9-hero" src="assets/slide9_Vidpic1.jpg" alt=""></div>
      </div>
      <div class="step__footer">
          <div class="tout"><img src="assets/slide9_01.png" alt=""></div>
          <div class="thumbs">
              <div class="thumb thumb--1"><img data-full-src="assets/slide9_Vidpic1.jpg" src="assets/slide9_thumb1.jpg" alt=""></div>
              <div class="thumb thumb--2"><img data-full-src="assets/slide9_pic2.jpg" src="assets/slide9_thumb2.jpg" alt=""></div>
              <div class="thumb thumb--3"><img data-full-src="assets/slide9_pic3.jpg" src="assets/slide9_thumb3.jpg" alt=""></div>
              <div class="thumb thumb--4"><img data-full-src="assets/slide9_pic4.jpg" src="assets/slide9_thumb4.jpg" alt=""></div>
              <div class="thumb thumb--5"><img data-full-src="assets/slide9_pic5.jpg" src="assets/slide9_thumb5.jpg" alt=""></div>
              <div class="thumb thumb--6"><img data-full-src="assets/slide9_pic6.jpg" src="assets/slide9_thumb6.jpg" alt=""></div>
          </div>
      </div>
    </div>
</div>
