<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- build:process -->
    <title><%= name %></title>
    <meta name="description" content="<%= description %>" />
    <meta property="og:title" content="<%= name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:url" content="" />
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="<%= name %>" />
    <!-- /build -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- compile:style app -->
    <!-- build:style app --><!-- /build -->
    <!-- /compile -->
    <!-- compile:script modernizr -->
    <!-- build:script modernizr --><!-- /build -->
    <!-- /compile -->
</head>
<body>
    <!-- compile:script app -->
    <!-- build:script jquery --><!-- /build -->
    <!-- build:script components --><!-- /build -->
    <!-- build:script app --><!-- /build -->
    <!-- /compile -->
</body>
</html>
