<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- build:process -->
    <title><%= name %></title>
    <meta name="description" content="<%= description %>" />
    <meta property="og:title" content="<%= name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:url" content="" />
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="<%= name %>" />
    <!-- /build -->
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- compile:style app -->
    <!-- build:style app --><!-- /build -->
    <!-- /compile -->
    <!-- compile:script modernizr -->
    <!-- build:script modernizr --><!-- /build -->
    <!-- /compile -->
</head>
<body class="impress-not-supported">
    <div id="impress">
        <!-- build:section templates -->
        <!-- /build -->
    </div>
    <script src="http://code.createjs.com/easeljs-0.6.0.min.js"></script>
    <script src="http://code.createjs.com/tweenjs-0.4.0.min.js"></script>
    <script src="http://code.createjs.com/movieclip-0.6.0.min.js"></script>
    <script src="http://code.createjs.com/preloadjs-0.3.0.min.js"></script>
    <!-- compile:script app -->
    <!-- build:script jquery --><!-- /build -->
    <!-- build:script components --><!-- /build -->
    <!-- build:script app --><!-- /build -->
    <!-- /compile -->
</body>
</html>
